<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}My Page{% endblock %} - {% block site %}Pybox Ninja{% endblock %}</title>
    {% endblock %}
    <link rel="stylesheet" href="https://storage.googleapis.com/code.getmdl.io/1.0.2/material.blue-amber.min.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
</head>
<body>
    <div id="content">{% block content %}{% endblock %}</div>
    <div id="footer">
      {% block footer %}
      &copy; Copyright 2015 {% block author %}{% endblock %}.
          Powered by <a href="http://pyboxninja.org/">PyboxNinja.org</a>.
      {% endblock %}
    </div>
    {% block javascript %}
    <script src="https://storage.googleapis.com/code.getmdl.io/1.0.2/material.min.js"></script>
    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    {% endblock %}
</body>
</html>